.box {
    display: flex;
flex-direction: column;


    border: 1px dashed red;
}




.box div {
    border: 1px solid;
    flex-basis: 50px;
}


.box div:nth-child(1) {
    width: 829px;
    height: 400px;
}










.boxdois {
    display: flex;



    border: 1px dashed blue;
}




.boxdois div {
    border: 1px solid;

}


.boxdois div:nth-child(1), 
.boxdois div:nth-child(26) {
flex-grow: 1;
}



.boxtres{
    display: flex;
    flex-direction: column;
    border: 1px dashed green;
    
    height: 829px;
}



.boxtres div {

flex-basis: 80px;
border:1px solid;

}

.boxtres div:nth-child(11),
.boxtres div:nth-child(12),
.boxtres div:nth-child(13),
.boxtres div:nth-child(14),
.boxtres div:nth-child(15)
{
flex-shrink: 4;
}