.box {
    display: flex;
flex-direction: column;


    border: 1px dashed red;
}




.box div {
    border: 1px solid;
    flex-basis: 50px;
}


.box div:nth-child(1) {
    width: 829px;
    height: 400px;
}