.box {
    display: flex;
    flex-direction: column;


    border: 1px dashed red;
}




.box div {
    border: 1px solid;
    flex-basis: 50px;
}


.box div:nth-child(1) {
    width: 829px;
    height: 400px;
}










.boxdois {
    display: flex;



    border: 1px dashed blue;
}




.boxdois div {
    border: 1px solid;

}


.boxdois div:nth-child(1),
.boxdois div:nth-child(26) {
    flex-grow: 1;
}



.boxtres {
    display: flex;
    flex-direction: column;
    border: 1px dashed green;

    height: 829px;
}



.boxtres div {

    flex-basis: 80px;
    border: 1px solid;

}

.boxtres div:nth-child(11),
.boxtres div:nth-child(12),
.boxtres div:nth-child(13),
.boxtres div:nth-child(14),
.boxtres div:nth-child(15) {
    flex-shrink: 4;
}




.boxquatro {
    display: flex;

    border: 1px dashed orangered;

    width: 829px;
}



.boxquatro div {

    flex: 1 1 40px;
    border: 1px solid;

}








.page {
    border: 2px solid;
    min-height: 100vh;
    display: flex;


}

aside {
    background: lightgreen;
    flex: 1;
}

main {
    background: lightblue;
    flex: 2;

    display: flex;
    flex-direction: column;
}




main section:nth-child(1) {
    background: lightsalmon;
    flex: 0 0 300px;
}

main section:nth-child(2) {
    background: lightyellow;
    flex: 0 300px;
}

main section:nth-child(3) {
    background: lightseagreen;
    flex: 1 0 0;
}