.container {
    display: flex;
    flex-direction: column-reverse;
}





.box {
    display: flex;
    flex-wrap: wrap-reverse;


    border: 1px dashed blue;
}






.boxdois div {
    border: 1px solid;

    width: 80px;
}


.boxdois {
    display: flex;

flex-flow: column-reverse wrap-reverse;

    border: 1px dashed blue;
}






.boxdois div {
    border: 1px solid;

    width: 80px;
}