.container {
    display: flex;
    flex-direction: column-reverse;
}





.box {
    display: flex;
    flex-wrap: wrap-reverse;


    border: 1px dashed blue;
}






.boxdois div {
    border: 1px solid;

    width: 80px;
}


.boxdois {
    display: flex;

flex-flow: column-reverse wrap-reverse;

    border: 1px dashed red;
}






.boxdois div {
    border: 1px solid;

    width: 80px;
}



.boxtres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;


    height: 150px;
    border: 1px dashed green;
}






.boxtres div {
    border: 1px solid;

}

.boxquatro {
    display: flex;

    flex-direction: column;
align-items: center;
justify-content: space-evenly;


    height: 1500px;
    border: 1px dashed purple ;
}






.boxquatro div {
    border: 1px solid;

}




.boxcinco {
    display: flex;

    border: 1px dashed brown ;

gap: 2rem;
}






.boxcinco div {
    border: 1px solid;

}