ul h3:first-child {
    font-weight: bold;
    color: red;
}




article p:nth-of-type(2) {
    font-weight: bold;
    font-size: 18px;
}


article h3:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
    color: green;
}


ul li:nth-child(even) {
    color: blue;
  }
  

  a:hover{
    color: darkslategrey;
  }

  
  input:focus {
    border-color: white;
    outline: none;
    background-color:lightgreen;
  }


  li::before {
    content: ":> oiiiiiiiii tudo bom? "
  }